* {
    box-sizing: border-box;
    /* margin: 0; */
    padding: 0;
}

body {
    background-image: linear-gradient(to left bottom, #08320e, #09360e, #0a390e, #0c3d0d, #0e410c);
}

button {
    cursor: pointer;

}
button:focus {
    outline: none;
}

.table {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 30px auto;
}

.play-controls {
    /* border: 1px solid black; */
    width: 200px;
    /* margin-top: -40px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.play-controls button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: none; */
    border-color: white;
    background-color: #3c813e;
    color: rgb(230, 213, 213);
    font-weight: bold;
    /* text-shadow: black; */
}



.side {
    width: 50%;
    padding: 10px 20px 30px;
}

.total {    
    color: #fff;
    font-weight: 600;
    opacity: .8;
}

.dealer.side {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 
}

.hand {
    /* width: 50%; */
    display: flex;
    flex-wrap: wrap; 
    /* margin: auto; */
}

.hidden {
    visibility: hidden;
}

.card {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 200px;
    margin: 10px;
    background-color: rgb(245, 239, 231);
    border: 1px solid rgb(235, 222, 205);
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px 10px 50px red; */
}

.card:nth-child(2n),
.card:nth-child(3n),
.card:nth-child(4n),
.card:nth-child(5n),
.card:nth-child(6n) {
    margin-left: -100px;
    /* z-index: 5; */
}

.hearts,
.diamonds {
    color: rgb(221, 9, 9);
}

.secret {
    /* display: hidden; */
    /* position: absolute; */
    background-color: rgb(65, 65, 65);
    color: rgb(65, 65, 65);
    /* z-index: 10; */
    /* content: 'sdfghn'; */
}
.card .top,
.card .bottom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 35px;
}

.card .top {
    align-self: flex-start;
    margin-top: -10px;
}

.card .bottom {
    align-self: flex-end;
    margin-bottom: -10px;
}

.card span {
    padding: 10px;
  }
  
.card > span {
    font-size: 140px;
    margin: 0;
    padding: 0;
}

.chips {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
}

.chips button, 
.chips span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.chips button {
    position: relative;
    box-sizing: content-box;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px dashed #fff;
    
    /* margin: 0 auto; */
}

.chips button:focus {
    outline: none;
}

.chips span {
    width: 75%;
    height: 75%;
    background-color: inherit;
    border-radius: 50%;
    border: 3px dashed #fff;
    color: #fff;
    font-weight: bold;

}

#n-25 {
    background-color: #D5A021;
}

#n-50 {
    background-color: #d11d1d;
}

#n-100 {
    background-color: #248232;
}

#n-250 {
    background-color: #053C5E;
}

#n-500 {
    background-color: #240115;
}

#n-1000 {
    background-color: #A30000;
}

#n-5000 {
    background-color: #050A30;
}

#n-10000 {
    background-color: #000;
}