* {
    box-sizing: border-box;
    /* margin: 0; */
    padding: 0;
}

.cassino {
    margin: 30px auto;
    width: 1200px;
    height: 600px;
    background-color: rgb(223, 215, 215);
}

.table {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100%;
}

.side {
    height: 50%;
}

.hand {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.hidden {
    visibility: hidden;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 200px;
    margin: 10px;
    background-color: rgb(245, 239, 231);
    border: 1px solid antiquewhite;
    border-radius: 10px;
}


.hearts,
.diamonds {
    color: rgb(221, 9, 9);
}

.secret {
    /* display: hidden; */
    /* position: absolute; */
    background-color: rgb(65, 65, 65);
    color: rgb(65, 65, 65);
    /* z-index: 10; */
    /* content: 'sdfghn'; */
}
.card .top,
.card .bottom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 35px;
}

.card .top {
    align-self: flex-start;
    margin-top: -10px;
}

.card .bottom {
    align-self: flex-end;
    margin-bottom: -10px;
}

.card span {
    padding: 10px;
  }
  
.card > span {
    font-size: 140px;
    margin: 0;
    padding: 0;
}

.chips button, 
.chips span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.chips button {
    position: relative;
    box-sizing: content-box;
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 13px dashed #fff;
}

.chips span {
    width: 75%;
    height: 75%;
    background-color: inherit;
    border-radius: 50%;
    border: 3px dashed #fff;
    color: #fff;
    font-weight: bold;

}

#n-25 {
    background-color: #D5A021;
}

#n-50 {
    background-color: #d11d1d;
}

#n-100 {
    background-color: #248232;
}

#n-250 {
    background-color: #053C5E;
}

#n-500 {
    background-color: #240115;
}

#n-1000 {
    background-color: #A30000;
}

#n-5000 {
    background-color: #050A30;
}

#n-10000 {
    background-color: #000;
}